<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Zeabook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ZealandBook.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-custom">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Zeabook</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                       </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (Context.Session.GetString("LoggedInStudentId") == null && Context.Session.GetString("LoggedInTeacherId") == null)
                        {
                            <li class="nav-item">
<a class="btn btn-primary my-2 my-sm-0" asp-area="" asp-page="/LogIn/LogInLogIn">Log ind</a>
                            </li>
                        }
                        else
                        {
                            if (Context.Session.GetString("LoggedInStudentId") != null)
                            {
                             <li class="nav-item dropdown ml-auto">
                                     <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                                              @Context.Session.GetString("LoggedInTeacherName")
                                           </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" asp-page="/Booking/MyBookings">Dine Bookinger</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-page="/LogIn/LogOut">Log ud</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            else if (Context.Session.GetString("LoggedInTeacherId") != null)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                                        @Context.Session.GetString("LoggedInTeacherName")
                                        @if (Context.Session.GetString("TeacherAdmin") != null)
                                        {
                                            <div class="input-group input-group-sm custom-input-group">
                                                <input type="text" class="form-control custom-input" value="Admin" readonly>
                                                <span class="input-group-text custom-span"><i class="bi bi-shield-lock"></i></span>
                                            </div>
                                        }
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" asp-page="/Booking/MyBookings">Dine Bookinger</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-page="/LogIn/LogOut">Log ud</a>
                                        </li>
                                        @if (Context.Session.GetString("TeacherAdmin").Contains("true"))
                                        {
                                                <li>
                                                    <a class="dropdown-item" asp-page="/Room/CreateRoom">Opret nyt rum</a>
                                                    <a class="dropdown-item" asp-page="/Booking/DeleteBooking">Slet booking</a>
                                                    <a class="dropdown-item" asp-page="/Room/CreateRoom">Opdater booking</a>
                                                    <a class="dropdown-item" asp-page="/Room/CreateRoom">Book et rum</a>
                                                    <a class="dropdown-item" asp-page="/Room/CreateRoom">Book til special event</a>
                                                </li>
                                            }
                                        </ul>


                                    </li>
                               
                            }
                        }

                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">

        <div class="container text-white">
            &copy; 2023 - Zeabook - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>