@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="intro-box text-center">
    <h1 class="display-4"><img src="~/Images/Udklip14444411111-removebg-preview.png" /></h1>
    @{
        var loggedInStudentId = HttpContext.Session.GetString("LoggedInStudentId");
        var loggedInTeacherId = HttpContext.Session.GetString("LoggedInTeacherId");
        var isUserLoggedIn = !string.IsNullOrEmpty(loggedInStudentId) || !string.IsNullOrEmpty(loggedInTeacherId);
    }

    @if (isUserLoggedIn)
    {
        <div class="home-container">
            <h3 class="home-header">Show Rooms</h3>
            <a href="/Room/GetRoom" class="home-link">
                <img src="~/images/zealand-markedsføringsøkonom-slagelse.jpg" class="home-image" />
            </a>
            <h3 class="home-header">My Bookings</h3>
            <a href="/Booking/MyBookings" class="home-link">
                <img src="~/images/zealand-2.jpg" class="home-image" />
            </a>
        </div>
    }
</div>
