@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="intro-box text-center" style="color:white">
    <h1 class="display-4">Zeabook</h1>
</div>

<div class="text-center">
    <a href="/Booking/GetBooking" class="picture-box">
        <img src="~/images/zealand-2.jpg" alt="Option 1" />
    </a>
    <a href="/Booking/CreateBooking" class="picture-box">
        <img src="~/images/zealand-markedsføringsøkonom-slagelse.jpg" />
    </a>
</div>
