@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="intro-box text-center" style="color:white">
    <h1 class="display-4">Zeabook</h1>
</div>

<div class="text-center">
    <a href="/Booking/GetBooking" class="picture-box">
        <img src="~/images/340544057_2368705473287068_8896014391959117279_n.jpg" alt="Option 1">
    </a>
    <a href="/Booking/CreateBooking" class="video-box">
        <video src="~/videos/340182241_5886864721423989_481010587949129355_n.mp4" autoplay muted loop></video>
    </a>
</div>
