@page
@model PrivacyModel
@{
    ViewData["Title"] = "Contact Info";
}
<h1 style="color:white">@ViewData["Title"]</h1>

<p style="color:white">Du kan kontakte os på mail, hvis du støder ind i nogen problemer: roskilde@zealand.dk.</p>
