@page
@model ZealandBook.CreateBookingModel
@{
    ViewData["Title"] = "Create";
}

<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<div class="row">
    <div class="col-md-4">
        <h2>Fejl</h2>

        @if (ViewData["Message"] != null)
        {
            <p>@ViewData["Message"]</p>
        }

        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group" style="display:none;">
                <label asp-for="booking.Date" class="control-label"></label>
                <input asp-for="booking.Date" class="form-control" type="date" readonly />
                <span asp-validation-for="booking.Room_Id" class="text-danger"></span>
            </div>

            <div class="form-group" style="display:none;">
                <label asp-for="booking.DateFrom" class="control-label"></label>
                <input asp-for="booking.DateFrom" class="form-control" type="time" readonly value="@Model.booking.DateFrom" />
                <span asp-validation-for="booking.DateFrom" class="text-danger"></span>
            </div>

            <div class="form-group" style="display:none;">
                <label asp-for="booking.DateTo" class="control-label"></label>
                <input asp-for="booking.DateTo" class="form-control" type="time" readonly />
                <span asp-validation-for="booking.DateTo" class="text-danger"></span>
            </div>

            <div class="form-group" style="display:none;">
                <label asp-for="booking.Student_Id" class="control-label"></label>
                <input asp-for="booking.Student_Id" class="form-control" readonly />
                <span asp-validation-for="booking.Student_Id" class="text-danger"></span>
            </div>

            <div class="form-group" style="display:none;">
                <label asp-for="booking.Teacher_Id" class="control-label"></label>
                <input asp-for="booking.Teacher_Id" class="form-control" readonly />
                <span asp-validation-for="booking.Teacher_Id" class="text-danger"></span>
            </div>

            <div class="form-group" style="display:none;">
                <label asp-for="booking.Room_Id" class="control-label"></label>
                <input asp-for="booking.Room_Id" class="form-control" readonly />
                <span asp-validation-for="booking.Room_Id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <a href="/Index" class="btn btn-primary">Hjem</a>
            </div>
        </form>
    </div>
</div>